@media screen and (max-width: 960px) {
    .container {
        width: 750px;
    }

    .title {
        font-size: 22px;
        line-height: 27px;
    }

    .col-1 {
        width: 236px;
    }

    .col-2 {
        width: 492px;
    }


    .dreamshare-works {
        &__item {
            width: 236px;
        }
    }

    .partners {
        &__items {
            width: 490px;
            margin: 0 auto;
        }

        &__item {
            width: 236px;
            margin-bottom: 50px;

        }
    }

    .ideas {
        &__box-item {
            padding: 15px;
        }
    }


}

@media screen and (max-width: 760px) {
    .page-section {
        padding-top: 35px;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 15px;
    }

    .col-1 {
        width: 236px;
    }

    .col-2 {
        width: 492px;
    }

    .top {
        height: 540px;

        &__header {
            flex-wrap: wrap;
            margin-bottom: 26.5px;
        }

        &__header-logo {
            width: 100%;
            order: 2;
            text-align: center;
        }

        &__header-btns {
            margin: 0 auto;
            margin-bottom: 97px;
        }

        &__box {
            width: 100%;
        }

        &__box-title {
            font-size: 30px;
            line-height: 37px;
        }

        &__box-text {
            font-size: 18px;
            line-height: 24px;
        }

        &__box-btn {
            width: 80%;
        }
    }

    .dreamshare-works {
        &__items {
            display: block;

        }

        &__item {
            height: 240px;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        &__item1 {
            background-image: url(../img/reamshare-works-media__1.png);
        }

        &__item2 {
            background-image: url(../img/reamshare-works-media__2.png);
        }

        &__item3 {
            background-image: url(../img/reamshare-works-media__3.png);
        }
    }

    .partners {
        &__items {
            width: 100%;
            margin: 0 auto;
        }

        &__item {
            width: 100%;
            margin-bottom: 20px;
        }

        &__btn {
            width: 80%;
        }
    }

    .ideas {
        &__box-row {
            display: block;
            width: 60%;
            margin: 0 auto;
        }

        &__box-item {
            width: 100%;
            height: 120px;
            background-size: cover;
            margin-bottom: 10px;
        }

        &__box-item1 {
            background-image: url(../img/activiry-ideas-media1.png);
        }

        &__box-item2 {
            background-image: url(../img/activiry-ideas-media2.png);
        }

        &__box-item3 {
            background-image: url(../img/activiry-ideas-media3.png);
        }

        &__box-item4 {
            background-image: url(../img/activiry-ideas-media4.png);
        }

        &__box-item5 {
            background-image: url(../img/activiry-ideas-media5.png);
        }

        &__box-item6 {
            background-image: url(../img/activiry-ideas-media6.png);
        }

        &__box-item7 {
            background-image: url(../img/activiry-ideas-media7.png);
        }
    }

    .crate {
        &__form {
            display: block;
            width: 100%;
        }

        &__form-input {
            width: 100%;
            margin-bottom: 15px;
        }

        &__form-btn {
            width: 100%;
        }
    }

    .footer {
        &__wrapper {
            display: block;
        }

        &__box {
            display: block;
            width: 100%;
        }
        &__title{
            width: 100%;
            text-align: center;
            margin-bottom: 13px;

        }

        &__title-DREAMSHARE {
            margin: 0 auto;
        }
        &__list{
            display: block;
            height: inherit;
            margin-bottom: 20px;
        }
        &__list-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__list-item{
            margin: 0 5px;
        }
        &__designedBy{
            display: block;
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 550px){
    .dreamshare-works{
        &__item{
            width: 100%;
        }
    }
    .ideas {
        &__box-row{
            width: 100%;
        }
    }
}