body {
    @extend %ms-bold;

}

.container {
    width: 940px;
    margin: 0 auto;
}

.page-section {
    padding-top: 95px;
}

.title {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 35px;

}

.col-1 {
    width: 300px;
}

.col-2 {
    width: 620px;
}