%ms-normal {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

%ms-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

%rt-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

%rt-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}